<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="/static/css/leaflet/leaflet.draw.css"/>
    <link rel="stylesheet" href="/static/css/dataTable/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/utils/pretty-checkbox.min.css">
    <link rel="stylesheet" href="/static/css/leaflet/leaflet.contextmenu.css">
    <script type="text/javascript" src="/static/js/jquery/jquery-3.4.1.min.js"></script>
    <script type='text/javascript' src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script type='text/javascript' src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/js/leaflet/leaflet.js"></script>
    <script src="/static/js/leaflet/leaflet.ajax.js"></script>
    <script src="/static/js/leaflet/leaflet.draw.js"></script>
    <script src="/static/js/ace-min/ace.js"></script>
    <script src="/static/js/jquery/jquery.dataTables.min.js"></script>
    <script src="/static/js/icons.js"></script>
    <script src="/static/js/popper/popper.min.js"></script>
    <script src="/static/js/leaflet/leaflet.contextmenu.js"></script>
    <script type="text/javascript" src="/static/js/toggles.js"></script>
    <script type="text/javascript" src="/static/js/buttons.js"></script>
    <script type="text/javascript" src="/static/js/map_utils.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Portal</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
            {% if current_user.is_authenticated %}
            <h5 class="mt-2">Hello, {{ current_user.first_name }}</h5>
            {% endif %}
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('main.home') }}">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if current_user.is_authenticated %}
                            {% if current_user.has_role('Admin') %}
                                <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
                            {% endif %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.account') }}">Account</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('queries.get_queries') }}">Queries</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('mapping.get_layers') }}">Layers</a></li>
                            {% if current_user.team_id %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('users.team') }}">Team</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('users.new_team') }}">Create Team</a></li>
                            {% endif %}
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.login') }}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                    {% block navbar %}{% endblock %}
                </div>
            </div>
        </nav>
    </header>
    {% if inner_title %}
        <div class="mb-4" id="top-page" align="center">
            <h3 class="display-3">{{ inner_title }}</h3>
        </div>
    {% endif %}
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-md-3 col-lg-2 pr-0 sidebar">
                {% block left_sidebar %}{% endblock %}
            </div>
            <div class="col-md-6 col-lg-8 main">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-3 col-lg-2 sidebar" id="right-sidebar">
                {% block right_sidebar %}{% endblock %}
            </div>
        </div>
    </div>
</body>
{% block fileend %}{% endblock %}
<script type="text/javascript" src="/static/js/util.js"></script>
<script type="text/javascript" src="/static/js/modals.js"></script>
<script>
    {% block javascript %}{% endblock %}
</script>
</html>