{% extends "base.html" %}
{% block left_sidebar %}
    <form class="mt-3" action="/query">
        <button class="btn btn-primary"><span class="fa fa-plus mr-2"></span>New Query</button>
    </form>
{% endblock left_sidebar %}
{% block content %}
<div class="col-md-10 mt-3">
    <table id="queries-table" class="table table-hover table-condensed dataTable no-footer">
        <thead style="text-align: center">
            <tr>
                <th></th>
                <th>Query Name</th>
                <th>Author</th>
                <th style="text-align: left">Last update time</th>
                <th>Permissions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody style="text-align: center">
        {% for query in queries %}
            <tr id="{{ query.id }}">
                <td>
                    <div class="pretty p-icon p-toggle p-plain">
                        <input id="mark-{{ query.id }}" type="checkbox" name="fav-checkbox" class=""/>
                        <div class="state p-off">
                            <i class="icon fa fa-heart-o "></i>
                        </div>
                        <div class="state p-on p-info-o">
                            <i class="icon fa fa-heart"></i>
                        </div>
                    </div>
                </td>
                {% if query.id in marked_queries %}
                    <script>toggleFavOn({{ query.id }})</script>
                {% endif %}
                <td > <a href="/query/{{ query.id }}">{{ query.query_name }}</a></td>
                <td>{{ query.user.full_name }}</td>
                <td style="text-align: left">{{ query.pretty_last_update_time }}</td>
                <td>
                    {% if query.only_user %}
                    <span class="fa fa-user"></span>
                    {% elif query.only_team %}
                    <span class="fa fa-users"></span>
                    {% else %}
                    <span class="fa fa-globe"></span>
                    {% endif %}
                </td>
                <td>
                    {% if query.user_id == current_user.id %}
                        <button class="btn btn-outline-danger" onclick="deleteQuery({{ query.id }})">Delete</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
{% block fileend %}
<script>
    paging("queries-table");
</script>
{% endblock fileend %}