{% extends "base.html" %}
{% block content %}
<div class="row mt-4">
    <div class="col-md-8">
        <div class="content-section">
            <form id="query-form" method="POST" action="" class="form-horizontal">
                {{ form.hidden_tag() }}
                    <h4 class="border-bottom mb-2 pb-1">{{ form_title }}</h4>
                    <div>
                        <p class="m-0">Query text can contain variables to later be formatted.</p>
                        <p class="m-0">For example: SELECT * FROM users WHERE id = {user_id:number} AND creation_date > {min_time:datetime}</p>
                        <p class="m-0"><b>Allowed datatypes:</b> number / datetime / string. You must specify datatypes!</p>
                        <p class="m-0">DO NOT put apostrophes around string datatypes. The server will do that for you.</p>
                        <p class="m-0 mt-2">You can also set a polygon variable to be easily formatted layer. The syntax is:</p>
                        <p class="m-0">SELECT ... FROM ... WHERE ... AND {in-polygon-longitude_column_name@latitude_column_name}</p>
                        <p class="mb-3 mt-2 border-bottom">Query results must contain lon,lat columns or longitude,latitude columns</p>
                    </div>
                    {% for field in fields %}
                        <div class="form-group control-group row m-3">
                            {{ form[field].label(class="form-control-label control-label col-sm-2 pt-2 bold") }}
                            {% if not form[field].errors %}
                                {% if field == 'query' %}
                                    <div class="col-sm-10">
                                        <div id="query">{% if query_text %}{{ query_text }}{% endif %}</div>
                                        <textarea name="query" style="display: none;"></textarea>
                                    </div>
                                {% else %}
                                    <div class="col-sm-10">
                                    {{ form[field](class="form-control form-control-lg") }}
                                    </div>
                                {% endif %}
                            {% else %}
                                {{ form[field](class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form[field].errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                   <div class="form-check m-1">
                        {{ form.only_me(class="form-check-input") }}
                        {{ form.only_me.label(class="form-check-label") }}
                   </div>
                   <div class="form-check m-1">
                       {{ form.only_team(class="form-check-input") }}
                       {{ form.only_team.label(class="form-check-label") }}
                   </div>
                   <p class="m-1 mb-3">Queries are public by default.</p>
                <div class="form-group row">
                    {{ form.submit(class="btn btn-outline-info") }}
                    <input class="btn btn-outline-info ml-3" id="load-results" name="loader" type="button" value="Query Results">
                    <p class="pt-3 mb-0 ml-1">(Only works after you save the query)</p>
                </div>
            </form>
            <form class="form-popup form-container" id="params-form" name="params-form"></form>
        </div>
    </div>
    <div id="results">
        <div id="results-table" class="mt-3"></div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
var editor = ace.edit("query");
editor.setTheme("ace/theme/monokai");
editor.session.setMode("ace/mode/sql");
$(function() {
    var textarea = $('textarea[name="query"]');
    editor.getSession().on("change", function () {
        textarea.val(editor.getSession().getValue());
    });
});
{% endblock javascript %}
