{% extends "base.html" %}
{% block left_sidebar %}
    <form class="mt-3" action="/query">
        <button class="btn btn-primary"><span class="fa fa-plus mr-2"></span>New Query</button>
    </form>
{% endblock left_sidebar %}
{% block content %}
<div class="col-md-8 mt-3">
    <table class="table table-hover table-condensed dataTable no-footer">
        <thead>
            <tr>
                <th></th>
                <th>Query Name</th>
                <th>Author</th>
                <th>Last update time</th>
            </tr>
        </thead>
        <tbody>
        {% for query in queries %}
            <tr>
                <td>
                    <div class="pretty p-icon p-toggle p-plain">
                        <input id="mark-{{ query.id }}" type="checkbox" name="fav-checkbox" class=""/>
                        {% if query.id in marked_queries %}
                        <div class="state p-on">
                            <i class="icon fa fa-heart-o "></i>
                        </div>
                        <div class="state p-off p-info-o">
                            <i class="icon fa fa-heart"></i>
                        </div>
                        {% else %}
                        <div class="state p-off">
                            <i class="icon fa fa-heart-o "></i>
                        </div>
                        <div class="state p-on p-info-o">
                            <i class="icon fa fa-heart"></i>
                        </div>
                        {% endif %}
                    </div>
                </td>
                <td> <a href="/query/{{ query.id }}">{{ query.query_name }}</a></td>
                <td>{{ query.user.full_name }}</td>
                <td>{{ query.last_update_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}