{% extends "base.html" %}
{% block content %}
<div class="row mt-4">
    <div class="col-md-8">
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-2">Create New Query</legend>
                    <div>
                        <p class="m-0">Query text can contain variables to later be formatted.</p>
                        <p>For example: SELECT * FROM users WHERE id = {user_id:number} AND creation_date > {min_time:datetime}</p>
                        <p><b>Allowed datatypes:</b> number / datetime / string </p>
                        <p>DO NOT put apostrophes around string datatypes. The server will do that for you.</p>
                    </div>
                    {% for field in fields %}
                        <div class="form-group">
                            {{ form[field].label(class="form-control-label") }}
                            {% if form[field].errors %}
                                {{ form[field](class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form[field].errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form[field](class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}